body{
    background-color: #f4f7fb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* header*/
header{
    background-color: #1abc9c;
    padding: 10px;
    text-align: center;

}

h1{
    color: white;
}
 /* form styling*/
 fieldset{
    margin: 15px;
    padding: 10px;
    border: #1abc9c;
 }

legend{
    font-weight: bold;
}

input, textarea, select{
    margin-top: 5px;
}
/* footer*/
footer{
    text-align: center;
    margin-top: 20px;
}
